
<h1>AppContent: {{ cPrenom }}</h1>
<button (click)="changer()" >changer</button>
<p>content works!</p>

<div [ngClass]="classes" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, aliquam accusamus commodi ut vitae provident hic error, dignissimos laudantium perferendis adipisci nulla vel necessitatibus dolorum sed a! Delectus, illo totam.
    Soluta veniam dolorum explicabo necessitatibus quibusdam cumque earum error incidunt exercitationem consequatur nostrum quod accusamus hic totam minus possimus, tempora cupiditate inventore beatae eligendi vero officiis est vel. Temporibus, laboriosam.
    Necessitatibus consequatur et dicta quisquam doloremque quidem, voluptatem consequuntur, reprehenderit accusantium eligendi assumenda voluptas laborum sapiente officiis tempore voluptate rem excepturi explicabo quasi. Alias voluptatum corporis explicabo iste quasi id!
</div>

<div [ngStyle]="styles" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, aliquam accusamus commodi ut vitae provident hic error, dignissimos laudantium perferendis adipisci nulla vel necessitatibus dolorum sed a! Delectus, illo totam.
    Soluta veniam dolorum explicabo necessitatibus quibusdam cumque earum error incidunt exercitationem consequatur nostrum quod accusamus hic totam minus possimus, tempora cupiditate inventore beatae eligendi vero officiis est vel. Temporibus, laboriosam.
    Necessitatibus consequatur et dicta quisquam doloremque quidem, voluptatem consequuntur, reprehenderit accusantium eligendi assumenda voluptas laborum sapiente officiis tempore voluptate rem excepturi explicabo quasi. Alias voluptatum corporis explicabo iste quasi id!
</div>
