<div class="gird-container">
    <h2>
        Prénom att appCom: {{prenom}}
    </h2>
    <br>
    *******************<br>
    <ul>
        <li *ngFor="let item of menu" >
            <a> {{ item }} </a>
        </li>
    </ul>      <br> 
    ****************
    <header>
        <app-header></app-header>
    </header>
    <nav>
        <app-menu [cMenu]="menu" ></app-menu>
    </nav>
    <main>
        <app-content [cPrenom]="prenom" ></app-content>        
    </main>
</div>
<app-footer></app-footer>